// Colours
$text-color: #0b1036;
$text-minor-color: #a59f90;
$pink-color: #fbd5ca;
$text-footer-color: #ffffff;
$border-contact: #d4cfc1;

// Font families
$font-text: "adobe-garamond-pro", sans-serif;
$font-subtitle: "neonoir", sans-serif;
$font-button: "neue-haas-grotesk-display", sans-serif;
$font-menu: "Readex Pro", sans-serif;

// Letter spacing
$spacing-text: 0.84px;
